extends ../layout


block content
  .page-header
    h3
      if title2
        = title2
      else
       = title
    a(href='/member/create' class='btn btn-primary') Create 注册

  #search.panel.panel-default
    .panel-body
      form.form-inline
        .form-group
          label(for='searchJoinDate') Join Date: 
          input.form-control(type='date', name='searchJoinDate', id='searchJoinDate', placeholder='Search...', value=searchJoinDate)
        .form-group
          label(for='searchName') Name: 
          input.form-control(type='text', name='searchName', id='searchName', placeholder='Search...', value=searchName)
        .form-group
          label(for='searchNric') NRIC: 
          input.form-control(type='text', name='searchNric', id='searchNric', placeholder='Search...', value=searchNric)
        button.btn.btn-primary(type='submit') 
          span.glyphicon.glyphicon-search
  
  p 

  #listing.table-wrap
    table.table.table-striped
      thead
        tr
          th Name 姓名
          th NRIC 身份证号
          th Date Join 报单日期
          th Mobile No. 手机号码
      tbody
        each member in member_list
          tr
            td 
              a(href=member.url) #{member.profile.nameDisplay}
            td #{member.nric}
            td #{member.dateJoinDisplay}
            td #{member.contact.mobileNo}
        else
          tr
            td(colspan='4' align='center') No members found.
