extends ../layout


block content
  .page-header
    h3= title 
    a(href='/member/create' class='btn btn-primary') Create 注册

  #listing.table-wrap
    table.table.table-striped
      thead
        tr
          th Name 英文姓名
          th Name CH 中文姓名
          th Date Join 报单日期
          th Mobile No. 手机号码
      tbody
        each member in member_list
          tr
            td 
              a(href=member.url) #{member.profile.name}
            td #{member.profile.nameCh}
            td #{member.dateJoinDisplay}
            td #{member.contact.mobileNo}
        else
          tr
            td(colspan='4' align='center') No members found.
