extends ../layout


block content
  .page-header
    h3
      if title2
        = title2
      else
        = title

  #search.panel.panel-default
    .panel-body
      form.form-inline
        .form-group
          label(for='searchJoinDate') Join Date: 
          input.form-control(type='date', name='searchJoinDate', id='searchJoinDate', placeholder='Search...', value=searchJoinDate)
        .form-group
          label(for='searchName') Name: 
          input.form-control(type='text', name='searchName', id='searchName', placeholder='Search...', value=searchName)
        .form-group
          label(for='searchNric') NRIC: 
          input.form-control(type='text', name='searchNric', id='searchNric', placeholder='Search...', value=searchNric)
        button.btn.btn-primary(type='submit') 
          span.glyphicon.glyphicon-search
  
  p

  #listing.table-wrap
    table.table.table-striped
      thead
        tr
          th Name 姓名
          th Mobile No. 手机号码
          th Last Sent 最近发送
          th 
      tbody
        each member in member_list
          tr
            td 
              //- a(href='#', onclick='showMemberInfo(\'' + member._id + '\')') #{member.profile.name} (#{member.profile.nameCh})
              | #{member.profile.nameDisplay}
            td #{member.contact.mobileNo}
              if (member.isValidMobileNoMy)
                td(id='lastNotify_' + member._id) #{member.lastNotifyIdDisplay}
                td 
                  if (member.lastNotifyId)
                    button.btn.btn-danger(type='button', id='btnSend_' + member._id, onclick='onResend(\'' + member._id + '\')') Resend
                  else
                    button.btn.btn-success(type='button', id='btnSend_' + member._id, onclick='onSend(\'' + member._id + '\')') Send
              else
                td(colspan='2').
                  Please send manually: 
                  <br>#{member.notifyIdMsg}
        else
          tr
            td(colspan='4' align='center') No records found.

  //- #member-info.modal.fade(tabindex='-1')
  //-   .modal-dialog
  //-     .modal-content
  //-       .modal-header
  //-         button.close(type='button', data-dismiss='modal')
  //-           span &times;
  //-         h4 Modal Title
  //-       .modal-body
  //-         p One fine body... 
  //-       .modal-footer
  //-         button.btn.btn-default(type='button', data-dismiss='modal') Close
  //-         button.btn.btn-primary(type='button') Save Changes
